<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink=''>Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink='ipl'>IPL Stat </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="forms">Registration Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="module">Profile</a>
            </li>
        </ul>
    </div>
</nav>

// authguard
