{{dataSource.data[1] | json}}
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" >

        
        <ng-container matColumnDef="player_id">
            <th mat-header-cell *matHeaderCellDef > Player Id </th>
            <td mat-cell *matCellDef="let row; let i = index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="player_name">
            <th mat-header-cell *matHeaderCellDef > Name </th>
            <td mat-cell *matCellDef="let row"> {{row.player_name}} </td>
        </ng-container>

        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef > DOB </th>
            <td mat-cell *matCellDef="let row"> {{row.dob}} </td>
        </ng-container>

        <ng-container matColumnDef="batting_hand">
            <th mat-header-cell *matHeaderCellDef > Batting Hand </th>
            <td mat-cell *matCellDef="let row"> {{row.batting_hand}} </td>
        </ng-container>

        <ng-container matColumnDef="bowling_skill">
            <th mat-header-cell *matHeaderCellDef > Bowling Skill </th>
            <td mat-cell *matCellDef="let row"> {{row.bowling_skill}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef > Country </th>
            <td mat-cell *matCellDef="let row"> {{row.country}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>