<form class="example-form" [formGroup]="profileForm">
    
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput  formControlName="lastName">
                </mat-form-field>
            </td>
        </tr>
   
        <tr formGroupName="address">
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Ex. San Francisco" formControlName="street">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="Ex. California" formControlName="city">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Ex. 100 Main St" formControlName="state">
                </mat-form-field>
            </td>

        </tr>
    </table>
</form>
<button (click)="submit()" class="btn btn-gray">Submit</button>
